.sconsign.dblite
*.swp
*.nvram
core
*.o
*.pbi
*.cout
*.out
*.map
*.pbd
*.pbd.*
*.bin
*.tmp
*.sim
*.wsdt
*.dni
*.dbgdt
*.dep
*.cspy.bat
*.jlink
*.obj
*.exe
*.exp
*.lib
*.suo
*.pdb
*.d
ajs_tmp.js
build
alljoynjs
libajtcl.so
ajs_console
