.sconsign.dblite
.sconf_temp/
config.log
*.swp
*.nvram
core
*.o
*.so
*.pyc
*.pbi
*.cout
*.out
*.map
*.pbd
*.pbd.*
*.bin
*.tmp
*.sim
*.wsdt
*.dni
*.dbgdt
*.dep
*.cspy.bat
*.jlink
*.obj
*.exe
*.exp
*.lib
*.suo
*.pdb
*.d
.whitespace.db
ajs_tmp.js
build/
dist/
alljoynjs
ajs_console
