[access]
	inheritFrom = All-Projects
[project]
	description = AllJoyn JavaScript
[access "refs/heads/*"]
	abandon = group ldap/gerrit_core_committers
	create = group ldap/gerrit_core_committers
	forgeAuthor = group ldap/gerrit_core_committers
	push = group ldap/gerrit_core_committers
	label-Code-Review = -2..+2 group ldap/gerrit_core_committers
	submit = group ldap/gerrit_core_committers
	editTopicName = group ldap/gerrit_core_committers
[access "refs/meta/config"]
	read = group ldap/gerrit_core_committers
[access "refs/for/*"]
	pushMerge = group ldap/gerrit_core_committers
