[project]
	description = AllJoyn JavaScript
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	read = group GitHub Replication
[access "refs/for/*"]
	pushMerge = group co-alljoyn-js-committers
[access "refs/for/refs/heads/*"]
	push = group co-alljoyn-js-committers
[access "refs/for/refs/heads/feature/*"]
	pushMerge = group Non-Interactive Users
	pushMerge = group co-alljoyn-js-committers
[access "refs/heads/*"]
	abandon = group co-alljoyn-js-committers
	create = group co-alljoyn-js-committers
	forgeAuthor = group co-alljoyn-js-committers
	label-Code-Review = -2..+2 group co-alljoyn-js-committers
	removeReviewer = group co-alljoyn-js-committers
	submit = group co-alljoyn-js-committers
	editTopicName = group co-alljoyn-js-committers
[access "refs/meta/config"]
	read = group co-alljoyn-js-committers
[access "refs/tags/*"]
	pushTag = group co-alljoyn-js-committers
	pushSignedTag = group co-alljoyn-js-committers
